{% extends "main.html" %}

{% block title %} Why You Leaving {% endblock %}

{% block content %}

	<div>
		<h2> Where in the world are you going? </h2>
			<br><br>
		<h4>Sorry to see you go.
			Would you like to:</h4>
			<a class="btn btn" href="/login">Log back in?</a>

			<br><br>

			<a class="btn btn" href="/posts">View Posts?</a>

			<br><br>
		<h3>Or something completely different?</h3>
			<a class="btn btn" href="https://www.google.com/">Mystery Search</a>

	</div>

{% endblock %}