{% extends "main.html" %}

{% block title %} Signup Welcome {% endblock %}

{% block content %}

  	<div>
    	<h2>Welcome, {{username.name.capitalize()}}</h2>
    	<br>
    	<p class="card-text">This is a Udacity school project. You may post anything
    		you like. But please keep in mind, that this is a public Blog
    		so please no profanity. Tell us what's on your mind, what's new,
    		or just plain old vent. Have fun.</p>
    	<br>
    	<a class="newpost-link" href="/newpost">Let's Blog</a>
    	<a class="blog-link" href="/posts">Read Posts</a>
 	</div>

{% endblock %}