{% extends "main.html" %}

{% block title %} Where you going {% endblock %}

{% block content %}

	<div>
		<h2> Where in the world are you going, {{username.name.capitalize()}}? </h2>
			<br><br>
		<h4>Is there something I can help you find?</h4>
			<a class="btn btn" href="/posts">Main Page?</a>

			<br><br>

			<a class="btn btn" href="/newpost">New Post?</a>

			<br><br>
		<h3>Or something completely different?</h3>
			<a class="btn btn" href="https://www.google.com/">Mystery Search</a>

	</div>

{% endblock %}